## -*- coding: utf-8 ; mode: html -*-

<%def name="html_footer()">
    %if content_footer:
        <footer id="footer"
                class="w3-container w3-col w3-center w3-theme-d1 w3-padding-16">
            ${content_footer}
            ${template_hooks['page_footer']()}
        </footer>
    %endif
</%def>
