:root {
    --theme-l5: #e9fffd
    --theme-l4: #b7fff8;
    --theme-l3: #6efff1;
    --theme-l2: #26ffe9;
    --theme-l1: #00dcc6;

    --theme-d1: #008578;
    --theme-d2: #00766a;
    --theme-d3: #00685d;
    --theme-d4: #005950;
    --theme-d5: #004a43;

    --theme-light: #e9fffd;
    --theme-dark: #004a43;
    --theme-action: #004a43;

    --theme: #009688;
    --theme-text: #009688;
    --theme-border: #009688;

    --link-underline: var(--theme-action);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--theme-dark);
    line-height: 1;
}
body {max-width:1000px; margin:auto}

#brand {
 padding: 16px 0;
 display: flex;
 justify-content: center;
 font-size: 36px;
}
#brand a:link,
#brand a:visited,
#brand a:hover {
    text-decoration: none;
}
#logo {
    height: 100px;
    margin-right: 1em;
}

#footer ul#portal-siteactions { list-style: none; display: block; margin:0; padding:0}
#footer ul#portal-siteactions li { display: inline-block;}
#footer ul#portal-siteactions li:before { content: "\2022   "; }
#footer ul#portal-siteactions li:first-of-type:before { content: ""; padding:0}

article header h1 a {
    text-decoration: none;
    border: none !important;
}
article {
	min-height: 500px;
}

main a:link {
    color: var(--theme-d5);
    border-bottom: 0.1em solid var(--link-underline);
    text-decoration: none;
}
main a:visited {
    color: var(--theme-d1);
    border-bottom: 0.1em solid var(--link-underline);
    text-decoration: none;
}
main a:hover {
    color: var(--anderes-darkgreen);
    text-decoration: none;
}
main h1 a:link {color: inherit;}

.pager .previous a:link,
.pager .next a:link,
.pager .previous a:visited,
.pager .next a:visited {
    text-decoration: none;
    border: 0.1em solid var(--link-underline);
    background: lightgray;
    padding: 8px 16px;
}
.pager .previous, .pager .next {
    cursor: pointer;
    white-space: nowrap;
}
.pager .previous { float:left; }
.pager .next { float:right; }
.pager .previous a::before { content: "« " }
.pager .next a::after { content: " »" }

article.post-text.postpage header .metadata .byline.author,
.postindex article.post-text header .metadata .byline.author { display:none}
.postindex article.post-text header .metadata .dateline { xtext-align:right}
article.post-text.postpage,
.postindex article.post-text {
	box-shadow: lightgray 50px 0px 50px -10px;
	padding: 1em;
	margin-bottom: 2em;
}
article.post-text.postpage { padding-bottom: 3em; }
div.topic, pre.literal-block, pre.doctest-block, pre.math, pre.code, div.code {
	border: solid thin darkgrey
}

.container.summary {
    font-size: larger;
    font-weight: bold;
}

img.thumbnail {
  width: 25%
}
img.image-right { float: right }
img.image-left  { float: left }
img.image-center {
    margin: auto;
    display: block;
}
img.image-mini {
    max-width: 200px;
    max-height: 200px;
}

.epigraph .attribution {
    font-size: medium;
    font-style: normal;
    font-family: Verdana,san serif;
}
.epigraph {
    border-left: solid var(--theme-dark) 1em;
    background: var(--theme-d1);
    padding-left: 1em;
    padding: 1em;
}
.epigraph p {
    font-family: serif;
    font-style: italic;
    font-size: larger
}
.epigraph p.attribution {
    font-size: revert;
    font-family: revert;
    font-style: revert;
}

.visualClear { clear:both }
